@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Nunito:wght@400;500;700&family=Satisfy&display=swap");
/* 
Här importeras alla css filerna. 
Finns dem inte här så inkluderas dem inte i slutprodukten. 
*/
/*
Denna filen är rätt skoj. Den har en massa roliga CSS-variabler som 
man sedan kan använda på andra ställen i webbsidan. Till exempel
kan du lägga till en skugga någonstans genom att bara köra

box-shadow: var(--shadow);

vilket är en mycket mindre huvudvärk än om du satt och försökte
få till skuggan på allt manuellt.
*/
:root {
  --font-display: Satisfy, cursive, sans-serif;
  --font-sans: Nunito, sans-serif;
  --font-mono: Fira Code, monospace;

  --font-headline-1: 700 calc(1.725rem + 5.7vw) / 1.2 var(--font-display);
  --font-headline-2: 700 calc(1.4rem + 1.8vw) / 1.2 var(--font-display);
  --font-headline-3: 700 1.25rem / 1.2 var(--font-display);
  --font-headline-4: 700 0.8125rem / 1.6 var(--font-display);
  --font-body-lg: 1.25rem / 1.5 var(--font-sans);
  --font-body: 1rem / 1.5 var(--font-sans);
  --font-body-sm: 0.875rem / 1.5 var(--font-sans);
  --font-body-xs: 0.75rem / 1.5 var(--font-sans);
  --font-button: 600 0.875rem / 1 var(--font-display);
  --font-label: 600 0.75rem / 1.4 var(--font-sans);
  --font-code: 0.9375rem / 1.2 var(--font-mono);
  --font-code-lg: 1.125rem / 1.2 var(--font-mono);

  --space-xs: 0.1875rem;
  --space-sm: calc(2 * var(--space-xs));
  --space-md: calc(2 * var(--space-sm));
  --space-lg: calc(2 * var(--space-md));
  --space-xl: calc(2 * var(--space-lg));
  --space-2xl: calc(2 * var(--space-xl));
  --space-3xl: calc(2 * var(--space-2xl));

  --shadow: 0 0 8px rgba(0, 0, 0, 0.15);

  --rounded: 7px;
  --rounded-sm: 2px;

  --ease-out: 0.125s cubic-bezier(0.33, 1, 0.68, 1);
}
@media (min-width: 1200px){
  :root{

  --font-headline-1: 700 6rem / 1.2 var(--font-display);
  --font-headline-2: 700 2.75rem / 1.2 var(--font-display);
  }
}
/* Color Scheme, in R G B format */
:root {
  --cs-background: 251 231 242;
  --cs-accent: 218 24 132;
  --cs-on-background: 21 2 13;
  --cs-on-accent: 251 231 242;
  --cs-panel: 152 16 92;
}
* {
  /* Background colors */
  --color-background: rgb(var(--cs-background));
  --color-accent: rgb(var(--cs-accent));

  /* Text colors */
  --color-on-background: rgb(var(--cs-on-background));
  --color-on-background-muted: rgb(var(--cs-on-background) / 60%);
  --color-on-background-subtle: rgb(var(--cs-on-background) / 20%);

  --color-on-accent: rgb(var(--cs-on-accent));
  --color-on-accent-muted: rgb(var(--cs-on-accent) / 60%);
  --color-on-accent-subtle: rgb(var(--cs-on-accent) / 20%);

  /* Panel colors */
  --color-panel-half: rgb(var(--cs-panel) / 2.5%);
  --color-panel: rgb(var(--cs-panel) / 5%);
  --color-panel-double: rgb(var(--cs-panel) / 10%);
  --color-panel-triple: rgb(var(--cs-panel) / 15%);

  /* Misc colors */
  --color-focus-outline: rgb(var(--cs-accent) / 50%);
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding-left: calc(1.325rem + 0.9vw);
  padding-right: calc(1.325rem + 0.9vw);
}
.container.fluid {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 1200px) {
  .container.has-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.sexit {
  font-family: var(--font-display);
  color: var(--color-accent);
}

#demo {
  font: var(--font-headline-1);
}
.text-image {
  margin: var(--space-xl) 0;
  padding: var(--space-xl) var(--space-lg);
  display: grid;
  grid-gap: var(--space-xl);
  gap: var(--space-xl);
  align-items: center;
  background: var(--color-panel);
  border-radius: var(--rounded);
}
@media (min-width: 700px) {
  .text-image {
    padding: var(--space-xl);
    margin: var(--space-2xl) 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .text-image.left {
    grid-template-columns: 1.5fr 1fr;
  }

  .text-image.left > .image {
    order: 999;
  }

  .text-image.right {
    grid-template-columns: 1fr 1.5fr;
  }

  .text-image.right > .text {
    order: 999;
  }
}
.text-image > .text h2 {
  color: var(--color-accent);
}
.text-image > img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero {
  text-align: center;
  margin-top: 30vh;
  margin-bottom: var(--space-2xl);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero h1 {
  color: var(--color-accent);
}
.barbapang {
  margin-top: 50vh;
  display: flex;
  justify-content: center;
}
/* Diverse globala CSS-stilar */
:root {
  font: var(--font-body);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  background: var(--color-background);
  color: var(--color-on-background);
}
body.no-scroll {
  max-height: 100vh;
  overflow-y: hidden;
}
* {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
    outline: 3px solid var(--color-focus-outline);
    outline-offset: var(--space-xs);
    border-radius: var(--rounded);
  }
button {
  border: none;
  background: none;
}
.headline-1 {
  font: var(--font-headline-1);
  margin-bottom: var(--space-lg);
}
.headline-2 {
  font: var(--font-headline-2);
  margin-bottom: var(--space-lg);
}
.headline-3 {
  font: var(--font-headline-3);
  margin-bottom: var(--space-sm);
}
.headline-4 {
  font: var(--font-headline-4);
  margin-bottom: var(--space-sm);
}
.body-lg {
  font: var(--font-body-lg);
}
a {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
}
a.link {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
pre {
  font: var(--font-code);
  background: var(--color-panel);
  padding: var(--space-sm);
  border-radius: var(--rounded);
  margin: var(--space-xs) 0;
}
code {
  font: var(--font-code);
  background: var(--color-panel);
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--rounded);
  margin: 0 var(--space-xs);
}
[disabled] {
  opacity: 0.3 !important;
  cursor: default !important;
}
